<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/a3ef6331ff.js" crossorigin="anonymous"></script>
    <link href="css/stylesRegister.css" rel="stylesheet">  <!--para vincular el archivo styles.css con el archivo home.hmtl-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"> <!--trae hoja de estilos e iconos de awesome-->        
</head>


<body>
        
<header>
    <div class = "top-header">
    <div class="logo"> <img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre"></div>
    <div class="form" action="#" method="GET">
    <form>
        <input type="text" placeholder="Buscar productos, marcas y más"> 
        <div class="submit"> <button><i class="fa fa-search"></i></button> </div>
    </form>
    </div> 
    </div>

    <div class=compra><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>

    <nav>
        <ul class="header-ofertas">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        </ul>
        
        <ul class=header-registros>
        <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
        <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>

    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
    
</header>

<main>
    
    <div class="registro">Registro de usuario
    <form action="/registro" method="POST">
        <input type="text" name="nombre" placeholder="Nombre y apellido">
        <input type="text" name="usuario" placeholder="Nombre de usuari@">
        <input type="email" name="usuario" placeholder="E-mail">
        Fecha de nacimiento <input type="date" name="fecha">
        <input type="text" name="domicilio">Domicilio
    </form>
    </div>
    
    <label>Perfil de usuario </label>
    <form action="/registro" method="POST">
        <select>
            <option value="Comprar">Comprar</option>
            <option value="Vender">Vender</option>
        </select>
        
    </form>
    
    <div class="registro">Categorías de interés (puede elegir más de una)   
    ● Electro
    ● Moda
    ● Hogar
    ● Juguetería
    ● Vida sana

    ■ Foto de usuario
    ■ Contraseña
    ■ Confirmar contraseña
    ■ Botón de enviar que nos lleve a la página principal
    ■ Botón de borrar todos los datos del formulario
    
</main>    


<footer>

    <footer-flex>
        <div class="pago">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
    
        <div class="envio">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde los $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tienes envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
    
        <div class="seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
    </footer-flex>
    
        <div class="derechos">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    
    </footer>    

</body>
</html>


