<label>Registro de usuario </label>
<form action="/registro" method="POST">
    <input type="text" name="nombre">Nombre y apellido
    <input type="text" name="usuario">Nombre de usuari@
    <input type="date" name="fecha">Fecha de nacimiento
    <input type="text" name="domicilio">Domicilio
</form>

<label>Perfil de usuario </label>
<form action="/registro" method="POST">
    <select>
        <option value="Comprar">Comprar</option>
        <option value="Vender">Vender</option>
    </select>
    
</form>