*{
    margin: 0px;
    padding: 0px;
}

header div.logo{
    width: 100%;
    padding: 10px;
}

div.logo img{
    width: 100%;
}

section.banner img{
    width: 100%;
}

.lastVisit{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

header{
    background-color:#EAC926;
}

div.top-header{
    padding: 5%;
}

header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    border: 1px solid #000;
    color: #666;
    width: 2%;
    background-color:#EAC926;
    border-color: #EAC926;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.product{
    padding: 10px;
    border-top: solid 40px #efefef;
    background-color: #FFF;
    width: 45%;
}

div.compra{
    text-align: center;
}

.header-ofertas{
    text-align: justify;
    padding: 1%;
}

.header-registros{
    text-align: justify;
    padding: 1%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #1259c3;
    color:#ebebeb;
    margin: 10px 0px 20px 0px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    height: 27px;
    width: 29px;
    padding: 10px;
    text-align: center;
}

footer{
    text-align: center;

}

.fa-credit-card{
    color: #1259c3;
}

.pago{
    padding: 1%;
}

.fa-gift{
    color: #1259c3;
}

.envio{
    padding: 1%;
}

.fa-user-shield{
    color: #1259c3;
    width: 50%;
}

.seguridad{
    padding: 1%;
}

.derechos{
    padding: 1%;
    text-align: left;
}


/* media queries*/
@media screen and (min-width: 361px){
    .product{
        width: 45vw;
    }
}

@media screen and (min-width: 769px){
    .product{
        width: 20vw;
    }
}