*{
    color: #666;
    font-size: 12px;
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.logo img{
    width: 100%;
}

img{
    width:90%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}

/* Header*/
header div.logo{
    width: 100%;
    padding: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #1259c3;
    color:#ebebeb;
    margin: 10px 0px 20px 0px;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    padding: 10px;
    text-align: center;
}

header{
    background-color:#EAC926;
}

header nav{
    font-size: 12px;
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    border: 1px solid #000;
    border-color: #EAC926;
    background-color:#EAC926;
    color: #666;
    padding: 2px;
    outline: none;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.header-ofertas{
    text-decoration: none;
    color: #666;
    text-align: justify;
    padding: 0.5%;
    list-style-type: none;
}

.header-registros{
    text-decoration: none;
    color: #666;
    text-align: justify;
    padding: 0.5%;
    list-style-type: none;
}

/*Main*/

main{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.registro{
    flex-wrap: wrap;
    display:flex;
    flex-direction: column;
    font-weight: bold;
}

/*Footer*/

footer{
    text-align: center;

}

.fa-credit-card{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.pago{
    padding: 1%;
}

.fa-gift{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.envio{
    padding: 1%;
}

.fa-user-shield{
    color: #1259c3;
    width: 50%;
    font-size: 2em;
    margin-bottom: 10px;
}

.seguridad{
    padding: 1%;
}

.derechos{
    padding: 1%;
    text-align: left;
}


/* media queries*/

/* Tablet */
@media (min-width: 361px){
    .product{
        width: 45vw;
        box-shadow: 0px 0px 10px rgb(10,10,100);
    }

    .description{
        display: initial;
    }

    header nav{
        display: initial;
    }

    div.burger-menu{
        display:none;
    }
}

/* Desktop */
@media (min-width: 769px){
    .product{
        width: 17%;
    }

    footer-flex{
        display: flex;
        flex-direction: row;
    }

    .pago, .envio, .seguridad,{
        display:flex;
        flex-direction: row;
    }

}