*{
    color: #666;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.logo img{
    width: 100%;
}

img{
    width:90%;
    border-style: none;
}

/*Body*/

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
    color: #666;
}

/* Header*/
header{
    background-color:#EAC926;
    color: black;
    padding: 20px 0 0 0;
}

nav{
    font-size: 12px;
    display: none;
    margin: 15px 20px;
}

nav ul{
    list-style-type: none;
    padding: 0px;
    display: none;
}

header ul li a{
    text-decoration: none;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


header .logo{
    width: 50%;
    padding: 0 0 0 30px;
}

header .busqueda{
    display: flex;
    justify-content: space-between;
}

.formBusqueda{
    width: 50%;
    padding: 0 10px 0 0;  
}

.inputBusqueda{
    width: 85%;
    height: 35px;
    border: 1px #666 solid;
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
}

.botonBusqueda{
    padding: 2px;
    border: none;
    background-color: white;
    margin: -33px;
}

.fa-solid{
    font-family: "Font Awesome 6 Free";
    font-weight: 900; 
}

.fa-hand-holding-usd{
    color: #03264C;
}

.compra{
    text-align: center;
    margin: auto;
    padding: 20px 0 10px 0;
    font-weight: 550;
    color: #03264C;
}

.burger-menu i{
    text-align: center;
    background-color: #1259c3;
    color:#ebebeb;
    display: block;
    border-radius: 5px;
    padding: 8px 0;
    max-width: 35px;
    text-align: center;
    margin: auto;
}

.header-ofertas{
    text-decoration: none;
    color: #666;
    text-align: justify;
    padding: 0.5%;
    list-style-type: none;
}

.header-registros{
    text-decoration: none;
    color: #666;
    text-align: justify;
    padding: 0.5%;
    list-style-type: none;
}

/* Banner*/
.banner img{
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
}

/* Main*/
.titulo{
    text-align: center;
}

main{
    width: 90%;
    margin: auto;
}

section{
    margin-top: 20px;
    text-align: center;
}

article {
    margin: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}

main section article img{
    width: 100%;
}

main section article i{
    color: #39b54a;

    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.main-article{
    justify-content: center;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.price{
    font-size: 18px;
    padding: 0%;
}

.discount{
    font-size: 16px;
    font-weight: normal;
    color: #39b54a;
}

.description{
    font-size: 16px;
    font-weight: normal;
    display: none;
}

.product{
    /*display: flex;*/
    padding: 10px;
    border-top: solid 40px #efefef;
    background-color: #FFF;
    width: 90%;
    box-shadow: none;
}



/*Footer*/

footer{
    text-align: center;

}

.fa-credit-card{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.pago{
    padding: 1%;
}

.fa-gift{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.envio{
    padding: 1%;
}

.fa-user-shield{
    color: #1259c3;
    width: 50%;
    font-size: 2em;
    margin-bottom: 10px;
}

.seguridad{
    padding: 1%;
}

.derechos{
    padding: 1%;
    text-align: left;
}


/* media queries*/

/* Tablet */
@media (min-width: 361px){
    
    .top-header{   
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    header nav{
        display: flex;
        justify-content: space-between;
        display: initial;
        margin: 15px 20px 0;
    }

    nav ul {
        display: block;
    }
    
    .product{
        width: 45vw;
        box-shadow: 0px 0px 10px rgb(10,10,100);
    }

    .description{
        display: initial;
    }

    .burger-menu{
        display:none;
    }

    .titulo{
        text-align: left;
    }

    article {
        width: 43%;
        box-shadow: none;
    }
}

/* Desktop */
@media (min-width: 769px){
   
    header nav{
        display: flex;
        justify-content: space-between;
    }
   
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    .product{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer-flex{
        display: flex;
        flex-direction: row;
    }

    .pago, .envio, .seguridad{
        display: flex;
        flex-direction: row;
    }

    ul li {
        margin: 10px;
        font-size: 14px;
    }

    article {
        width: 22%;
    }

}