body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header{
    background-color:#EAC926;
}

h2{
    font-size: 24px;
}

div.logo img{
    width: 100%;
}

section.banner img{
    width: 100%;
}
